mixin videoMixin(video)
     a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${"/" + video.thumbUrl});background-size:cover;background-position:center;`)
        div.video-mixin__data
            span.video-mixin__title=video.title 
            div.video-mixin__meta
                span #{video.owner.username || user.username} • 
                span #{video.meta.views} 회


            //- video에 각각 id가 존재하니까 클릭 시 해당 비디오로 이동할 수 있는거지
            //- 근데 위에 id 예전에는 video array에 임의로 만들어 놔서 숫자로 있었던거고 지금은 몽고가 완전 랜덤하게 id 만들어내고 있음.
            //- 그리고 video는 mixin으로 home이랑 연결되어 있는데 videos.title이 아닌건 videos는 비디오를 담고있는 배열 전체 몸통이고 그 안에서 하나하나 불러서 누구.누구 이렇게 불러내는건 video로 
            //- p=video.description
            //- ul 
            //-     each hashtag in video.hashtags
            //-         li=hashtag
            //- small=video.createdAt
            //- hr
